@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --radius: 0.5rem;
    --color-blue-50: oklch(0.97 0.014 254.604);
    --color-blue-100: oklch(0.932 0.032 255.585);
    --color-blue-200: oklch(0.882 0.059 254.128);
    --color-blue-300: oklch(0.809 0.105 251.813);
    --color-blue-400: oklch(0.707 0.165 254.624);
    --color-blue-500: oklch(0.623 0.214 259.815);
    --color-blue-600: oklch(0.546 0.245 262.881);
    --color-blue-700: oklch(0.488 0.243 264.376);
    --color-blue-800: oklch(0.424 0.199 265.638);
    --color-blue-900: oklch(0.379 0.146 265.522);
    --color-blue-950: oklch(0.282 0.091 267.935);
    --color-neutral-50: oklch(0.985 0 0);
    --color-neutral-100: oklch(0.97 0 0);
    --color-neutral-200: oklch(0.922 0 0);
    --color-neutral-300: oklch(0.87 0 0);
    --color-neutral-400: oklch(0.708 0 0);
    --color-neutral-500: oklch(0.556 0 0);
    --color-neutral-600: oklch(0.439 0 0);
    --color-neutral-700: oklch(0.371 0 0);
    --color-neutral-800: oklch(0.269 0 0);
    --color-neutral-900: oklch(0.205 0 0);
    --color-neutral-950: oklch(0.145 0 0);
    --color-black: #000;
    --color-white: #fff;


    --color-brand-50: var(--color-blue-50);
    --color-brand-100: var(--color-blue-100);
    --color-brand-200: var(--color-blue-200);
    --color-brand-300: var(--color-blue-300);
    --color-brand-400: var(--color-blue-400);
    --color-brand-500: var(--color-blue-500);
    --color-brand-600: var(--color-blue-600);
    --color-brand-700: var(--color-blue-700);
    --color-brand-800: var(--color-blue-800);
    --color-brand-900: var(--color-blue-900);
    --color-brand-950: var(--color-blue-950);
  }
}

body {
  font-family: var(--body)
}

.font-mono {
  font-family: var(--mono);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: .75rem; /* Adjust the width */
  height: .75rem; /* Adjust the height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--color-neutral-800); /* Track color (dark gray) */
  border-radius: 0.5rem; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
  background: var(--color-neutral-700); /* Thumb color (slightly lighter gray) */
  border-radius: 10px;
  height: 2rem;
  border: 3px solid var(--color-neutral-800); /* Create space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Lighter on hover for visibility */
}

